*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform:capitalize ;
}
body{
    background: #fdfcfc;
    padding: 20px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;

}
.drawing-board{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 55vw;
    height: 500px;
    overflow: scroll;
}
canvas{
    overflow: auto;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}
.tools-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media (max-width:830px) {
    .tools-section{
        grid-template-columns: 1fr;
    }
    
}
@media (max-width:555px) {
    .container{
        grid-template-columns: 1fr;
    }
    .drawing-board{
        width: 100%;
    }
}

.tool-container{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    color: rgb(33,37,41);
}
.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}
.row .title{
    font-size: 20px;

}
.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
    
}
.row .options .option img{
    width: 25px;
    height: 22px;
}
.option:is(:hover,.active)img{
    filter: invert(17%) sepia(90%) saturate(3000%) 
    hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span,label){
    color: #5a6168;
    cursor: pointer;
    padding-left: 10px;
}
.option:is(:hover,.active)  :where(span,label){
color: #4a98f7;
}
.option #fill-color{
    cursor: pointer;
    height: 14px;
    width: 14px;
}
#fil-color:checked~label{
    color: #4a98f7;
} 
.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}
.btn{
    background: #239ef0;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #2980b9;
}
.action-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.action-buttons button{
    height: 40px;
    width: 100%;
    font-size: 14px;
    margin-left: 10px;
}
.colors .options{
    display: flex;
    justify-content: space-between;
}
.colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}
.colors .option:nth-child(1){
background-color: #fff;
border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: #000000;
    
    }
    .colors .option:nth-child(3){
        background-color: #e02020;
       
        }
        .colors .option:nth-child(4){
            background-color:#6dd400;
          
            }
            .colors .option:nth-child(5){
                background-color:#4a98f7;
              
                }          
 .colors  .option .selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50% -50%);
 } 
 .colors.option:first-child.selected::before{
    border-color: #ccc;
 }                     
 .colors .option #color-picker{
    opacity: 0;
    cursor: pointer;
 }   